.applePie {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.intro {
    color: rgb(27, 26, 26);
    text-align: center;
    size: 80px;
    overflow-wrap:normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.recipe {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.cooking {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;

}